body {

    display: flex;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(164,244,237,1) 0%, rgba(224,214,195,1) 30%,rgba(224,214,195,1) 70%, rgba(18,194,233,1) 100%);
}
.dropdown {
    width: 100%;
    height: 40px;
    position: relative;
    display: inline-block;
}


.dropdown-toggle {
   
    background-color: #02de86;
    color: #0b0000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-toggle i {
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a i {
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: #3e8e41;
}

.form-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: scale(0) translate(-300px, 500px);
}



.form-wrapper h2 {
    font-size: 30px;
    color: #000;
    text-align: center;
}

.input-group {
    
    position: relative;
    margin: 30px 5PX;
    border-bottom:  solid #fff;
    
}
input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
    width: 100%; /* Changed to 100% */
    padding: 1px;
    margin-top: 7px;
    margin-bottom: 8PX;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.input-group label {
   
    left: 5px;
    transform: translateY(-170%);
    font-size: 16px;
    margin: 50px;
    color: #000;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 95%; /* Change to 100% */
    
    height: 40px;
    font-size: 16px;
    color: #0b0000;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

#pwd {
    transform: translateY(45%);
}



#pwds {
    transform: translateY(-100%);
}
.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #000;
    font-size: 14px;
}

.remember label input {
    accent-color: #f4157e;
}
input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.Signup-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;   
}
button {
    width: 100%;
    height: 40px;
    background: #02de86;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}
button:hover{
    background-color: #01ac68;
}



.Signup-link p {
    color: #000;
}

.Signup-link p a {
    color: #f4157e;
    text-decoration: none;
    font-weight: 500;
}

.Signup-link p a:hover {
    text-decoration: underline;
}

.social-platform {
    font-size: 14px;
    color: #000;
    text-align: center;
}
.social-icon{
    margin-left: 120px;
}

.social-icon a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    /* border: 2px solid transparent; */
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 15px 6px 0;
    transition: 3s;
}


.social-icon a i { 
    color: #fafafa;
    font-size: 34px;
    transition: .3s;

}
.social-icon a i:hover {
    color: #5c4bdc;
}

.wrapper .form-wrapper.Signup {
    position: absolute;
    top: 0;
    transform: scale(0) translate(200px, -500px);
}

.wrapper.active .form-wrapper.Signup {
    transform: scale(1) translate(0, 0);
}
.container {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr ;
    gap: 1px; /* space between items */
    align-items: center; /* vertically align items */
}

.con {
    padding-left: 10px;
}

input[type="text"] {
    width: 100%; /* make input take full width of the grid column */
}
div {
    max-width: 800px; /* Corrected */
    margin-right: 140px;
    border-color: beige;
}

form {
    
    margin: 5px auto;
    padding: 35px;
    text-align: left;
    background: rgba(255, 255, 255, .2);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2); /* Added color */
    border-radius: 8px;  

}
#number::-webkit-inner-spin-button,#number::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
/* h2 { 
    text-align: center;
    color: #fff;
}*/

input[type="text"],
input[type="number"],
input[type="email"],
input[type="submit"],
input[type="password"],
select,
textarea {
   
    

    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}



.selected {
    background-color: rgba(255, 255, 255, 0.2); /* Color when an option is selected */
}