*{
    margin: 0%;  
    padding: 0%;
    text-decoration: none;
  }
  
  .navbar{
    background-color: black;
    position: fixed;
    width: 240px;
    height: 100%;
  }
  
  .logo{
    color: white;
    width: 50px;
    height: 150px;
  
  }
  
  .menu a{
    color: white;
    line-height: 50px;
    display: block;
    font-weight: bold;
  }
  
  .menu ul li a {
    line-height: 35px;
    text-align: left;
    padding-left: 45px;
  }
  
  a:hover{
    background-color: rgba(255, 240, 240, 0.203);
  }
  
  .drop:hover{
    background-color: rgba(255, 240, 240, 0.203);
  }
  
.icon{
    padding-right: 9px;
}